template(name="file")
  a.fileImage.fileItem.thumbnail(href='#', data-toggle='modal', data-target='#file_{{_id}}', data-id='{{_id}}')
    a.delete.glyphicon.glyphicon-remove(data-id="{{_id}}")
    if showPreview
      source(type="#{type}" srcset="{{link 'preview'}}")
      img.file-preview(src="{{link 'preview'}}" alt="#{name}")
    else if showOriginal
      source(type="#{type}" srcset="{{link}}")
      img.file-preview(src="{{link}}" alt="#{name}")
    else if showError
      h3.files-note
        | Browser can't display this image. The "#{type}" format may be not supported in your browser. Please
        a(title="Download \"#{name}\"" href="{{link}}?download=true" download="#{name}") download file
    else
      h1.files-note: i.fa.fa-fw.fa-spin.fa-spinner
    
    | {{name}}
  a.fileDownload.fileItem.thumbnail(href='{{data}}', style='display: none', target="_blank")
    a.delete.glyphicon.glyphicon-remove(data-id="{{_id}}")
    .glyphicon.glyphicon-file
    | {{name}}
  .modal.fade.fileModal(id="file_{{_id}}", tabindex='-1', role='dialog', style='display: none;')
    .modal-dialog
      form.modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title File: {{name}}
        .modal-body
            a(href="{{data}}",target="_blank")
              img(src=data,width="100%")
        .modal-footer
          a.btn.btn-sm.delete(data-id="{{_id}}") Delete
          button.btn.btn-sm(data-dismiss='modal') Cancel
